.home {
  & > *:not(.home-wrapper-1, footer) {
    background: #dfede9;
  }
  .home-wrapper-1 {
    .carousel-caption {
      right: 42%;
      left: 7%;
      top: 1%;
    }
  }
  .home-wrapper-3 {
    .category {
      flex-grow: 1;
      max-width: 250px;
      img {
        max-width: 80px !important;
      }
    }
  }
  .home-wrapper-6 {
    .brand-filter {
      li {
        transition: 0.3s;
        img {
          max-width: 60px;
        }
        &:hover span {
          color: $primary !important;
        }
      }
    }
  }
  .brands {
    img {
      max-width: 150px;
      object-fit: cover;
    }
  }
  .slider {
    .slider-body {
      overflow-x: scroll;
      scroll-snap-type: x proximity;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      div {
        scroll-snap-align: start;
      }
      &::-webkit-scrollbar {
        width: 0px;
      }
    }
  }
}
@media (min-width: 766px) and (max-width: 992px) {
  .home {
    .carousel-caption {
      top: 19%;
    }
  }
}
