.single-product-wrapper-1 {
  ul.colors {
    li {
      transition: 0.2s;
      margin: 0px 3px;
      &.active {
        box-shadow: 0px 0px 1px 3px gray !important;
        transform: translateY(-3px);
      }
    }
  }
}
.review-comment {
  height: 50px;
  resize: none !important;
  overflow: hidden;
}
